:root{
    
    $main-color:#88E0EF; 
    $text-color: #161E54;
    $error-color: #FF5151;
    $success1-color: #FF9B6A;
    $success2-color:#9EDE73;
}
*,::before,::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    
}
body{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
}

.container{
    max-width:1000px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

}
img{
    max-width: 100%;
    height: auto;
}
 
.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
